body{
	margin: 0;
	padding: 0;
	background-color: #1C1C1C;
    color: #FFFFFF;
	font-family: 'RobotoRegular';
    overflow: hidden;
}
h2{
	font-family: 'RobotoBold';
    color: #FFFFFF;
}
p{
    margin: 0;
    color: #FFFFFF;
}
/*GENERAL*/
.height{
    height: 100vh;
}
.none{
    display: none;
}
.inline{
    display: inline-block;
}
#home{
    z-index: 6;
}
.window-center{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.mdl-container-industria{
    height: 100vh;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    position: relative;
}
.center-container{
    max-width: 1350px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    padding: 100px 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
    -moz-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
    -ms-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
    -o-transition: max-width .3s ease-in-out, transform .3s ease-in-out;
    transition: max-width .3s ease-in-out, transform .3s ease-in-out;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000000;
    z-index: 10;
    display: flex;
    align-items: center;
}
.header-left{
    padding: 20px 0 19px 25px;
}
.header-right{
    height: 68px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
}
.header-right .mdl-idioma{
	float: left;
}
.header-right .background1,
.header-right .background2,
.header-right .background3{
    height: 100%;
    width: 100%;
    max-width: 20px;
    float: right;
}
.header-right .background1{
	background-color: rgba(240, 171, 0, 0.4);
}
.header-right .background2{
	background-color: rgba(240, 171, 0, 0.7);
}
.header-right .background3{
	background-color: rgba(240, 171, 0, 1);
}
.header-right .button-home{
    height: 24px;
    min-width: 24px;
    width: 24px;
    font-size: 20px;
}
.header-right .button-home i{
    color: #FFFFFF;
    font-size: 18px;
}
.header h2{
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 32px;
}
.logo-header{
 	max-width: 160px;
}
/*CHAT*/
.chat{
    max-width: 150px;
    background-color: #008FCC;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    bottom: 10px;
    right: 50px;
    padding: 5px;
    z-index: 10;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.chat a{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'RobotoRegular';
}
.chat img{
	max-width: 40px;
    width: 100%;
}
.chat label{
    margin: 0;
    font-family: 'RobotoRegular';
    font-weight: 100;
    width: 100%;
}
/*HOME*/
.mdl-title{
    max-width: 450px;
    width: 100%;
    margin-right: 40px;
}
#formulario .mdl-title{
    max-width: 340px;
}
#formulario .mdl-title strong{
    font-size: 157px;
    line-height: 140px;
}
#formulario .mdl-letras{
    max-width: 248px;
}
#formulario  .mdl-letras p, #formulario  .mdl-letras h2{
    font-size: 36px;
}
#formulario .mdl-letras p{
    line-height: 36px;
}
#formulario .mdl-letras h2{
    line-height: 40px;
}
.mdl-imagenes,
.mdl-title{
    vertical-align: middle;
    text-align: left;
}
.mdl-title strong{
    color: #F0AB00;
    font-size: 214px;
    line-height: 180px;
    vertical-align: top;
}
.mdl-letras{
    max-width: 325px;
    width: 100%;
    text-align: left;
    padding: 0 0 0 5px;
}
.mdl-letras p{
    line-height: 42px;
}
.mdl-letras h2{
    line-height: 48px;
    margin: 0;
    color: #F0AB00;
}
.mdl-letras p,
.mdl-letras h2{
    font-size: 45px;
}
.subrayado-title{
    font-size: 0;
    line-height: 0;
    margin: 35px 0;
}
.mdl-agradecimiento .subrayado-title{
    max-width: 650px;
    margin: 30px auto;
}
.subrayado{
    width: 100%;
    max-width: 25%;
    height: 15px;
    -webkit-transition: max-width .2s linear;
    -moz-transition: max-width .2s linear;
    -ms-transition: max-width .2s linear;
    -o-transition: max-width .2s linear;
    transition: max-width .2s linear;
    display: inline-block;
}
.subrayado.one{
    background-color: #008FD5;
}
.subrayado.two{
    background-color: #609C80;
}
.subrayado.three{
    background-color: #A9A341;
}
.subrayado.four{
    background-color: #EFAB02;
}
.mdl-imagenes img{
    max-width: 120px;
    display: block;
    width: 100%;
    margin: 10px 0;
}
.mdl-home-next{
    width: 100%;
    max-width: 120px;
    text-align: right;
}
button.button-next{
    min-width: 100px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    box-shadow: none;
}
button.button-next i{
    font-size: 100px;
    line-height: 1;
    color: #F0AB00;
}
button.button-industria{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: transparent !important;
    box-shadow: none;
    z-index: 10;
    display: none;
}
button.button-industria.button-back{
        display: block !important;
}
button.button-right{
    right: 0;
}
button.button-left{
    left: 0;
}
.industrias{
    vertical-align: middle;
    cursor: pointer;
    max-width: 360px;
    width: 100%;
}
.industrias h2{
    font-size: 24px;
    margin: 10px 0;
    text-align: left;
    font-family: 'RobotoRegular';
    line-height: 26px;
}
.mdl-industrias{
    margin: 10px 0;
    background-color: #D6D6D6;
    text-align: left;
    -webkit-transition: transform .1s linear;
    -moz-transition: transform .1s linear;
    -ms-transition: transform .1s linear;
    -o-transition: transform .1s linear;
    transition: transform .1s linear;
}
.mdl-industrias:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.mdl-industrias p{
    color: #000000;
    font-size: 18px;
    padding: 11px 20px;
    vertical-align: middle;
    width: 100%;
    max-width: calc(100% - 83.5px);
}
.mdl-industrias img{
    max-width: 80px;
}
/*CARDS INDUSTRIA*/
.contenido-industria{
    max-width: 400px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
.contenido-industria h2{
    font-size: 30px;
    line-height: 34px;
    max-width: 360px;
    font-family: 'RobotoRegular';
}
.contenido-industria strong{
    color: #F0AB00;
    font-family: 'RobotoBold';
}
.flip-card{
    position: relative;
    background-color: transparent;
    cursor: pointer;
    transform-style: preserve-3d;
    text-align: center;
    width: 210px;
    height: 215px;
}
.flip-card .card-front img{
    width: 100%;
    max-width: 130px;
    margin: 40px 10px 10px 10px;
}
.flip-card .card-front i{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #F0AB00;
}
.flip-card .card-front p{
    font-size: 18px;
}
.flip-card .card-front strong{
    font-size: 50px;
    color: #F0AB00;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 1;
}
.flip-card .card-front,
.flip-card .card-back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 500ms;
    -o-transition: -o-transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    transition: transform 500ms;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.flip-card .card-front {
    -moz-transform: perspective(600) rotateY(0);
    -webkit-transform: perspective(600) rotateY(0);
    transform: perspective(600) rotateY(0);
    z-index: 900;
    background-color: #000000;
}
.flip-card .card-back {
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index: 800;
    background-color: #F8B22C;
    padding: 20px;
    text-align: left;
}
.flip-card:hover .card-front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: perspective(600) rotateY(180deg);
    -webkit-transform: perspective(600) rotateY(180deg);
    transform: perspective(600) rotateY(180deg);
}
.flip-card:hover .card-back {
    z-index: 950;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: perspective(600) rotateY(0deg);
    -webkit-transform: perspective(600) rotateY(0deg);
    transform: perspective(600) rotateY(0deg);
}
.flip-card .card-back p{
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    overflow: hidden;
    font-family: 'RobotoBold';
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.flip-card .card-back label{
    color: #000000;
    font-weight: 100;
    line-height: 18px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: 'RobotoLight';
    height: 55px;
}
.flip-card .card-back button{
    box-shadow: none;
    background-color: transparent;
    font-family: 'RobotoBold';
    text-transform: initial;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: underline;
}
.card-industria{
    max-width: calc(100% - 570px);
    vertical-align: middle;
    text-align: left;
}
.mdl-card-industria{
    display: inline-block;
    max-width: 210px;
    margin: 5px;
    -webkit-transition: max-width .3s linear;
    -moz-transition: max-width .3s linear;
    -ms-transition: max-width .3s linear;
    -o-transition: max-width .3s linear;
    transition: max-width .3s linear;
}
/*BOOTSTRAP-SELECT*/
.mdl-idioma .bootstrap-select .dropdown-menu>li>a{
	-webkit-transition: background-color .25s linear;
	-moz-transition: background-color .25s linear;
	-ms-transition: background-color .25s linear;
	-o-transition: background-color .25s linear;
	transition: background-color .25s linear;
}
.mdl-idioma .bootstrap-select .dropdown-menu>li>a:focus, 
.mdl-idioma .bootstrap-select .dropdown-menu>li>a:hover{
    background-color: #FDB917;
    outline: none;
}
.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select.open>.dropdown-toggle.btn-default,
.bootstrap-select .btn-default:focus,
.bootstrap-select .btn-default{
	background-color: transparent;
	border: none;
    color: #FFFFFF;
    outline: none !important;
}
.mdl-select.mdl-standar .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}
.mdl-select.mdl-standar .bootstrap-select .btn-default{
	background-color: #FFFFFF;
	color: #757575;
    height: 46px;
	border-radius: 0;
}
.mdl-idioma .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 105px;
}
/*ANIMATE*/
.opacity-done{
    opacity: 0;
    z-index: -5;
    display: none;
}
.opacity-done.fadeInLeft, 
.opacity-done.fadeInRight{
    z-index: 6;
}
.opacity-done.animated{
    display: block;
}
/*MODAL*/
.modal-backdrop.in {
    opacity: .8;
}
.modal.fade .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 300px;
    width: 100%;
}
.modal.fade.in .modal-dialog{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal.fade .modal-dialog.modal-md{
    max-width: 600px;
}
/*ModalQuestion*/
#ModalIndustria .modal-content{
    background-color: #000000;
}
#ModalIndustria .mdl-card{
    display: inline-block;
    background-color: #1C1C1C;
    max-width: 300px;
}
#ModalIndustria .mdl-card .mdl-card__title{
    display: block;
}
#ModalIndustria .mdl-card .mdl-card__title h2{
    font-size: 20px;
    text-align: left;
    margin: 20px;
    line-height: 24px;
    color: #EFAA00;
}
#ModalMasIndustria .mdl-card .mdl-card__supporting-text,
#ModalIndustria .mdl-card .mdl-card__supporting-text,
#ModalIndustria .mdl-card .mdl-card__title img{
    width: 100%;
}
#ModalIndustria .mdl-card .mdl-card__supporting-text p{
    font-size: 16px;
}
#ModalIndustria .mdl-card .mdl-card__supporting-text ul{
    color: #FFF;
    margin-top: 15px;
    padding-left: 20px;
}
#ModalIndustria .mdl-card .mdl-card__supporting-text ul li{
    margin: 12px 0;
    line-height: 18px;
}
#ModalIndustria .mdl-card .mdl-card__actions .mdl-button{
    color: #EFAA00;
    text-transform: initial;
    margin: 10px;
    font-family: 'RobotoMedium';
    max-width: 120px;
    width: 100%;
}
#ModalIndustria .mdl-card .mdl-card__actions .mdl-button--raised{
    background-color: #EFAA00;
    color: #000000;
    font-family: 'RobotoBold';
}
#ModalMasIndustria .mdl-card{
    background-color: #000000;
    border: 1px solid #FFFFFF;
    width: 100%;
    max-width: 600px;
    display: block;
}
#ModalMasIndustria .mdl-card .mdl-card__title{
    float: left;
    max-width: 200px;
    padding: 30px;
}
#ModalMasIndustria .mdl-card .mdl-card__title img{
    margin: auto;
    max-width: 150px;
}
#ModalMasIndustria .mdl-card .mdl-card__supporting-text{
    text-align: left;
    padding: 30px 30px 30px 10px;
    float: right;
    max-width: calc(100% - 200px);
}
#ModalMasIndustria .mdl-card .mdl-card__supporting-text p{
    font-family: 'RobotoBold';
    font-size: 22px;
    color: #F0AB00;
}
#ModalMasIndustria .mdl-card .mdl-card__supporting-text label{
    color: #fff;
    font-family: 'RobotoRegular';
    margin-top: 20px;
    font-weight: 100;
}
#ModalMasIndustria .mdl-card .mdl-card__menu i{
    color: #FFFFFF;
}
.mdl-card__menu{
    top: 5px;
    right: 5px;
}
/*FORMULARIO*/
.formulario{
    width: 100%;
    max-width: calc(100% - 505px);
    -webkit-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    -moz-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    -ms-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    -o-transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    transition: max-width .3s ease-in-out, opacity .5s ease-in-out;
    margin: 5px;
    vertical-align: middle;
    text-align: left;
}
.formulario h2{
    font-size: 26px;
    line-height: 24px;
    margin: 10px 0 0 0;
    font-family: 'RobotoRegular';
}
.formulario p.descarga{
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 10px 0;
}
.nameIndustria{
    color: #EFAA00;
}
.mdl-formulario{
    border-radius: 10px;
    border: 1px solid #F8B22C;
    padding: 25px;
    display: inline-block;
}
.mdl-agradecimiento{
    opacity: 0;
    display: none;
    max-width: 850px;
    text-align: center;
    margin: auto;
}
.mdl-agradecimiento.fadeInRight{
    display: block;
}
.mdl-agradecimiento h2{
    font-family: 'RobotoBold';
    color: #F8B22C;
    font-size: 60px;
    margin-bottom: 20px;
}
.mdl-agradecimiento p{
    font-size: 28px;
    line-height: 32px;
}
.mdl-agradecimiento small{
    display: block;
    margin: auto;
    font-size: 18px;
    max-width: 600px;
}
.mdl-agradecimiento a{
    color: #F7B12C;
    font-family: 'RobotoBold';
    text-decoration: underline;
    line-height: 26px;
    pointer-events: none;
}
.title-formulario{
    font-size: 20px;
    margin: 0;
    line-height: 24px;
}
.button-confirmar:hover{
    background-color: #008FCC;
}
.button-confirmar{
    background-color: #008FCC !important;
    color: #FFFFFF !important;
    text-transform: initial;
    font-family: 'RobotoRegular';
    height: 30px;
    line-height: 32px;
}
.button-confirmar[disabled]{
    opacity: .5 !important;
    cursor: progress !important;
}
.mdl-input{
    margin: 5px 0;
}
.mdl-input .form-control{
    border-radius: 0;
    height: 46px;
    padding: 6px 15px;
    font-size: 15px;
    font-family: 'RobotoRegular';
}
.mdl-formulario .col-sm-6{
    padding: 0 5px;
}
.mdl-formulario .mdl-radio__outer-circle{
    border: 2px solid #FFF;
    border-radius: 0;
}
.mdl-formulario .text-contacto{
    font-size: 15px;
    margin: 5px 0;
    line-height: 20px;
}
.mdl-formulario .mdl-label{
    padding: 0 5px;
}
.mdl-label .mdl-checkbox,
.mdl-formulario .mdl-radio{
    font-family: 'RobotoRegular';
}
.mdl-formulario .mdl-radio{
    font-size: 12px;
    font-family: 'RobotoLight';
}
.mdl-formulario .col-xs-4{
    padding: 0 5px;
}
.mdl-formulario .content-datos{
    padding: 5px;
}
.mdl-formulario .content-datos .content-personal{
    display: inline-block;
    background-color: #F6F6F6;
    color: #000000;
    vertical-align: middle;
    padding: 7px 10px;
}
.mdl-formulario .content-datos .content-personal p{
    margin: 0;
    color: #000000;
}
.mdl-formulario .content-datos .content-separacion p{
    color: #FFFFFF;
    margin: 0;
}
.mdl-formulario .content-datos .content-personal p i{
    vertical-align: middle;
    font-size: 18px;
    margin-right: 5px;
    color: #4983B6;
}
.mdl-formulario .content-datos .content-separacion{
    display: inline-block;
    vertical-align: middle;
    padding: 7px 10px;
}
.mdl-formulario .content-datos .content-linkedin{
    display: inline-block;
    vertical-align: middle;
}
.button-linkedin{
    background-color: #008FCC;
    padding: 8px;
    font-size: 16px;
    text-decoration: none !important;
    color: #fff !important;
    position: relative;
    padding-left: 45px;
}
.button-linkedin i{
    background-color: #0076B3;
    padding: 8.5px 10px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
/*COMPONENTES MATERIAL*/
.mdl-input-label{
    display: inline-block;
    width: 100%;
    max-width: 100px;
}
.mdl-label .mdl-checkbox{
    max-width: 235px;
}
.mdl-label .mdl-checkbox__label{
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
}
.mdl-label .mdl-checkbox__label a{
    font-size: 14px;
}
.mdl-label .mdl-checkbox__label a{
    text-decoration: none;
    color: #4983B6;
}
.mdl-label .mdl-checkbox__box-outline{
    border: 2px solid #FFFFFF;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline,
.mdl-radio.is-checked .mdl-radio__outer-circle{
    border: 2px solid #4983B6;
}
.mdl-checkbox__ripple-container .mdl-ripple,
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline,
.mdl-radio__ripple-container .mdl-ripple,
.mdl-radio__inner-circle{
    background: #4983B6;
}
.mdl-select.mdl-standar {
    margin: 5px 0;
}
/*TOASTR*/
#toast-container{
    transform: translateY(20px);
    opacity: 0;
    -webkit-transition: all .218s ease-in-out;
    -moz-transition: all .218s ease-in-out;
    -ms-transition: all .218s ease-in-out;
    -o-transition: all .218s ease-in-out;
    transition: all .218s ease-in-out;
}
#toast-container .toast{
    /*background-color: #484848 !important;*/
    min-width: 300px;
    border-radius: 3px;
    padding: 15px 20px;
    overflow: inherit;
    margin: 0;
}
#toast-container.aparecer-toast{
    transform: translateY(0);
    opacity: 1;
}
#toast-container.desaparecer-toast{
    opacity:0;
}
.toast-bottom-left{
    bottom: 0;
    left: 0;
    padding: 30px;
}
.toast-bottom-right{
    bottom: 0;
    right: 0;
    padding: 30px;
}
.toast-bottom-left .close-toastr:HOVER{
    background-color: transparent;
}
.toast-bottom-left .close-toastr{
    line-height: 1;
}
.toast-bottom-left .close-toastr i{
    color: #FFF;
    line-height: 24px;
    font-size: 18px;
    vertical-align: middle;
}
/*BARRA SCROLL*/
::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}
@media ( max-width: 1200px ){
    .center-container{
        padding: 100px 75px;
    }
    .card-industria,
    .contenido-industria{
        max-width: 100%;
        text-align: center;
    }
    .contenido-industria{
        max-width: 700px;
    }
    .contenido-industria h2{
        max-width: 100%;
        text-align: left;
    }
    .formulario,
    #formulario .mdl-title{
        max-width: 100%;
        text-align: left;
    }
    #formulario .mdl-title strong{
        font-size: 110px;
        line-height: 100px;
    }
    #formulario .mdl-letras{
        max-width: 620px;
    }
}
@media ( max-width: 768px ){
    .center-container{
        padding: 80px 55px 50px 55px;
    }
    .mdl-card-industria{
        max-width: 190px;
    }
    .mdl-title{
        margin: 0;
    }
    .flip-card{
        width: 190px;
        height: 195px;
    }
    .flip-card .card-front img{
        max-width: 100px;
    }
    #formulario .mdl-letras{
        max-width: 550px;
    }
    #formulario .mdl-title strong{
        font-size: 100px;
        line-height: 85px;
    }
    #formulario .mdl-letras p, #formulario .mdl-letras h2{
        font-size: 40px;
    }
    #formulario .mdl-letras p{
        line-height: 32px;  
    }
    #formulario .mdl-letras h2{
        line-height: 50px;
    }
    .mdl-input-label{
        max-width: 95px;
    }
    .chat{
        max-width: 45px;
        right: 10px;
    }
    .chat label{
        display: none;
    }
    button.button-next i{
        font-size: 50px;
    }
    button.button-next{
        min-width: 50px;
        width: 50px;
        height: 50px;
    }
}
@media ( max-width: 640px ){
    .center-container{
        overflow-y: scroll;
        height: 100%;
        padding: 90px 25px 50px 25px;
    }
    .mdl-formulario{
        padding: 15px;
    }
    .mdl-agradecimiento .center-container{
        height: initial;
        padding: 25px;
    }
    .logo-header{
        max-width: 125px;
    }
    .header h2{
        font-size: 15px;
        padding: 0;
    }
    .header-right{
        height: 62px;
    }
    .header-right .background1, .header-right .background2, .header-right .background3{
        max-width: 5px;
    }
    #formulario .mdl-title strong,
    .mdl-title strong{
        font-size: 48px;
        line-height: 54px;
    }
    .mdl-title{
        max-width: 360px;
    }
    #formulario .mdl-letras,
    .mdl-letras{
        max-width: 255px;
    }
    #formulario .mdl-letras p, #formulario .mdl-letras h2,
    .mdl-letras p, .mdl-letras h2{
        font-size: 19px;
        line-height: 24px;
    }
    .formulario h2{
        font-size: 20px;
        line-height: 22px;
        margin: 0;
    }
    .formulario p.descarga{
        font-size: 16px;
    }
    .mdl-formulario .content-datos .content-separacion, 
    .mdl-formulario .content-datos .content-personal{
        margin-bottom: 10px;
    }
    .content-linkedin,
    .button-linkedin{
        width: 100%;
    }
    .button-linkedin{
        display: inline-block;
    }
    .subrayado-title{
        margin: 20px 0;
    }
    .industrias h2{
        line-height: 24px;
        text-align: left;
        font-size: 18px;
        margin: 0 0 15px 0;
    }
    .mdl-industrias p{
        font-size: 16px;
        padding: 10px 8px 10px 12px;
    }
    .contenido-industria h2{
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        font-family: 'RobotoMedium';
    }
    .mdl-agradecimiento h2{
        font-size: 30px;
        margin: 10px 0;
        line-height: 36px;
    }
    .mdl-agradecimiento p{
        font-size: 22px;
        line-height: 26px;
    }
    .modal.fade .modal-dialog.modal-md{
        max-width: 300px;
    }
    #ModalMasIndustria .mdl-card .mdl-card__supporting-text,
    #ModalMasIndustria .mdl-card .mdl-card__title{
        max-width: 100%;
        float: none;
    }
    #ModalMasIndustria .mdl-card .mdl-card__title,
    #ModalMasIndustria .mdl-card .mdl-card__supporting-text{
        text-align: center;
        padding: 15px;
    }
}